body{
    display: flex;
    justify-content: center;
    font-family: "Helvetica", sans-serif ;
    background-color: antiquewhite;
}

.calc{
    width: 500px;
    margin-top: 36px;
    border-style: solid;
    font-size: 36px;
    display: block;
    background-color: silver;
    border-radius: 5px;
    border-width: thin;
    border-color: silver;
}

#keys{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 10px;
    margin: 10px;
}

button{
    font-size: 36px;
    padding: 10px;
}

#display{
    text-align: right;
    margin: 10px;
    padding: 5%;
    overflow: clip;
    border-color: darkgray;
    border-style: solid ;
    border-radius: 5px;
    border-width: thin;
    background-color: white;
}

#plus{
    grid-area: 3/4/5/4;
}